@font-face {
  font-family: momcake;
  src: url("../assets/fonts/mom-cake-font.otf");
}

.main-welcome-heading {
  text-align: center;
  font-size: 30px;
}

.main-logo {
  font-family: momcake;
  font-size: 90px;
  padding-left: 40px;
  transform: translateY(-40px);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mt-1 {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 20px;
}
