.main-highlights-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 150px;
}

.highlight-container {
  width: 20%;
  height: 150px;
  background: darkgray;
  border-radius: 25px;
  font-size: 50px;
  line-height: 150px;
}

.highlight-container span {
  margin-left: 25px;
  font-size: 40px;
}

.highlight-container-green span {
  margin-left: 25px;
  font-size: 40px;
}

.highlight-container-green {
  width: 20%;
  height: 150px;
  background: rgb(105, 211, 103);
  border-radius: 25px;
  font-size: 50px;
  line-height: 150px;
}
