.main-highlights-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 150px;
  grid-gap: 15px;
  margin: 0 10px;
}

.highlight-container {
  background: darkgray;
  border-radius: 25px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.highlight-container span {
  margin: 0 12px;
  font-size: 40px;
}

.highlight-container-green {
  background: rgb(105, 211, 103);
  cursor: pointer;
}
.highlight-container-green:hover {
  opacity: 0.85;
}

@media (max-width: 1460px) {
  .main-highlights-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-highlights-section span {
    font-size: 32px;
  }
}
